#heroSection {
  height: 100vh;
  width: 100%;
}
.mask {
  overflow: hidden;
}
#heroContainer {
  position: absolute;
  max-width: 700px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heroContainer p {
  line-height: 1.5;
  font-size: calc(0.7rem + 0.6vw);
  text-align: center;
}

#heroContainer h1 {
  font-size: calc(1.2rem + 2vw);
  z-index: 1;
  font-weight: 600;
  line-height: 1.2;
  background-image: linear-gradient(to right, #6a50b3, #582eff);
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#heroBtn {
  background-color: #582eff;
  color: #fff;
  border: 1px solid #582eff;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
}

#heroBtn:hover {
  cursor: pointer;
}
