@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "TT";
  src: url("./fonts/TTbold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
}
#App:-webkit-scrollbar {
  display: none;
}
/* .roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bold {
  font-weight: 400;
}
